@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
margin: 0;
padding: 0;
font-family: 'Poppins';
font-size: auto;
justify-content: center;
align-items: center;
}

.header{
background-color: #1572a1;
width: 100%;
margin: 0;
position: relative;
height: 40px;
display: flex;
justify-content: center;

}

ul{
position: relative; 
display: flex; 
color: white; 
margin: 0;
column-gap: 30%;
justify-content: center;
padding: 5px;
}
a:-webkit-any-link {
color: #1572a1;
cursor: pointer;
text-decoration: none;

}

.container_principal{
position: relative;
display: flex;
justify-content: center;
vertical-align: middle;
margin-top: 5%;

}

.grupo_input{
position: relative;
border-radius: 5px;
box-shadow:  2px 5px 10px 2px rgba(75, 75, 75, 0.2);
color: #1572a1;
justify-content: center;
}

.title{
color: #1572a1;
text-align: center;
}

.cadusuario{
padding:2%;
position: relative;
column-gap: 5%;
}
.cadcontato{
padding: 2%;
position: relative;
display: flex;
column-gap: 5%;
}
.numestado{
position: relative;
display: flex;
column-gap: 5%;
}
.endereco{
padding: 3%;

}


.btn-group, .btn-group-vertical {
width: 100%;
position: relative;
display: inline-flex;
vertical-align: middle;
column-gap: 10%;
padding: 2%;
margin-top: 5%;
}